/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
  margin: 1em 2.5rem;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** base **/
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.7;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
}

header,
h1,
h2,
h3,
h4 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  color: #43583F;
}

h3,
h4,
a,
a:visited {
  color: #607F5A;
}

a:hover {
  color: #43583F;
  -webkit-transition: 0.4s all ease;
          transition: 0.4s all ease;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2 {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  font-size: 36px;
  font-size: 2.25rem;
  text-align: center;
  border-bottom: 1px solid #43583F;
  clear: both;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

h4 {
  font-size: 21px;
  font-size: 1.3125rem;
}

#page {
  height: 100%;
}

.header {
  height: 100%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/** helpers **/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/** structure **/
.section {
  padding: 30px;
  padding: 1.875rem;
}

section .section {
  background: #f2ecde;
}

section:nth-of-type(odd) .section {
  background: #FFF8EA;
}

.offset:before {
  display: block;
  content: " ";
  height: 90px;
  height: 5.625rem;
  /* Give height of your fixed element */
  margin-top: -90px;
  margin-top: -5.625rem;
  /* Give negative margin of your fixed element */
  visibility: hidden;
}

.inner {
  overflow: hidden;
}

.grid {
  font-size: 0;
  line-height: 0;
}
.grid li {
  display: inline-block;
}
.grid li > * {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.grid li figure {
  margin: 0;
}

.grid-captions .grid {
  font-size: 0;
  line-height: 0;
}
.grid-captions .grid li > * {
  font-size: 14px;
  font-size: 0.875rem;
}
.grid-captions .grid li figure {
  position: relative;
  margin: 10px;
  margin: 0.625rem;
  line-height: 0;
}
.grid-captions .grid li figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  padding: 0.3125rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  text-align: center;
}

/** nav **/
.brand,
nav {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.brand {
  margin-right: 30px;
  margin-right: 1.875rem;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  font-style: italic;
  color: #4B3427;
}

.menu {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}
.menu__item {
  display: inline-block;
}
.menu__item + li {
  padding-left: 30px;
  padding-left: 1.875rem;
}

/** header **/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 10px 0 #333;
  box-shadow: 0 0 0.625rem 0 #333;
}
header.inner {
  padding: 0 0 0 30px;
  padding: 0 0 0 1.875rem;
}

.accueil {
  background: url("imgs/accueil.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 90px;
  top: 5.625rem;
  bottom: 0;
  right: 0;
  left: 0;
}
.accueil__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 5em;
  padding: 1.25rem 5em;
  z-index: 100;
}

/** section 1 **/
#presentation .historical,
#presentation .team {
  float: left;
}
#presentation .historical {
  width: 60%;
}
#presentation .team {
  padding-left: 30px;
  padding-left: 1.875rem;
  width: 40%;
}

/** section 2 **/
#activities {
  text-align: center;
}
#activities .grid li + li {
  margin-left: 30px;
  margin-left: 1.875rem;
}
#activities .grid li:first-of-type figure {
  margin-left: 0;
}
#activities .grid li:last-of-type figure {
  margin-right: 0;
}

/** section 3 **/
#infrastructures .installations,
#infrastructures .equipment,
#infrastructures .horses {
  float: left;
  width: 33.33%;
}
#infrastructures .equipment .grid li figure {
  width: 200px;
  width: 12.5rem;
}
#infrastructures .equipment .grid li:nth-of-type(2n+1) figure {
  margin-left: 0;
}
#infrastructures .equipment .grid li:nth-of-type(2n) figure {
  margin-right: 0;
}
#infrastructures .installations ul,
#infrastructures .horses ul {
  list-style: disc;
  overflow: hidden;
  padding-left: 30px;
  padding-left: 1.875rem;
}
#infrastructures .installations ul li,
#infrastructures .horses ul li {
  float: left;
  width: 50%;
}

/** section 4 **/
#labels .grid {
  text-align: center;
}
#labels .grid li:first-of-type figure {
  margin-left: 0;
}
#labels .grid li:last-of-type figure {
  margin-right: 0;
}
#labels .grid li figure {
  margin: 30px;
  margin: 1.875rem;
}

/** section 5 **/
#contact .inner {
  max-width: 860px;
  max-width: 53.75rem;
  margin: 0 auto;
}
#contact form {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
#contact form label {
  display: block;
}
#contact form input,
#contact form textarea {
  width: 100%;
  padding: 5px;
  padding: 0.3125rem;
  outline: 0;
}
#contact form fieldset {
  border: 0;
  padding: 0;
  margin: 20px 0;
  margin: 1.25rem 0;
}
#contact form .form-group {
  float: left;
  width: 50%;
}
#contact form .form-group + .form-group {
  padding-left: 30px;
  padding-left: 1.875rem;
}
#contact form #subject {
  width: 300px;
  width: 18.75rem;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
#contact form #submit {
  width: 100px;
  width: 6.25rem;
}
#contact .localisation {
  position: relative;
  padding-bottom: 46%;
  height: 0;
  overflow: hidden;
}
#contact #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact #map img {
  max-width: inherit;
}
#contact .gm-style-iw * {
  width: 300px;
  width: 18.75rem;
}
#contact .gm-style-iw h4 {
  margin: 0;
  padding: 0;
}

/** FOOTER **/
.footer.wrapper {
  background: #4B3427;
}

footer {
  max-width: 860px;
  max-width: 53.75rem;
  margin: 0 auto;
  padding: 30px;
  padding: 1.875rem;
  text-align: center;
  color: #fff;
}
footer a,
footer a:visited,
footer a:active,
footer a:focus {
  color: #b7ada8;
}
footer a:hover {
  color: #93857d;
}

@media screen and (max-width: 1350px) {
  #infrastructures .installations,
  #infrastructures .equipment,
  #infrastructures .horses {
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1350px) {
  #infrastructures .equipment .grid li {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
  }
  #infrastructures .equipment .grid li figure {
    margin: 0 20px;
    margin: 0 1.25rem;
  }
  #infrastructures .equipment .grid li:nth-of-type(2n+1) figure {
    margin-left: 20px;
    margin-left: 1.25rem;
  }
  #infrastructures .equipment .grid li:nth-of-type(2n) figure {
    margin-right: 20px;
    margin-right: 1.25rem;
  }
  #infrastructures .equipment .grid li:first-of-type figure {
    margin-left: 0;
  }
  #infrastructures .equipment .grid li:last-of-type figure {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  header {
    position: static;
  }

  #presentation .historical,
  #presentation .team,
  #infrastructures .installations ul li,
  #infrastructures .horses ul li {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #infrastructures .equipment .grid li {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #contact form .form-group {
    float: none;
    width: 100%;
  }

  #contact form .form-group + .form-group {
    padding-left: 0;
    margin-top: 15px;
    margin-top: 0.9375rem;
  }
}
